<div>
    <div class="product-list" style="flex-direction: column;flex-wrap: wrap;">
        <div style=" width:100%;margin: 2rem;display: flex; align-items:center;flex-direction: column;">
            <h1 class="title">List of Employees </h1>
            <div *ngIf="employees.length; else noData">
                <table class="table table-striped table-bordered custom-table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">City</th>
                            <th scope="col">Gender</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let employee of employees">
                            <td>{{ employee.name }}</td>
                            <td>{{ employee.email }}</td>
                            <td>{{ employee.number }}</td>
                            <td>{{ employee.city }}</td>
                            <td>{{ employee.gender }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <ng-template #noData>
                <p class="no-data-message">No data to display</p>
            </ng-template>
        </div>
    </div>
</div>