.add-button{
    background-color: red !important;
    color: white !important;
}

.add-product{
    color: blue;
    font-size: 4rem;
    margin-left: 8rem;
    font-weight: bold;
}
.cancel-button{
    margin-right: 1rem;
}